body{
	margin: 0;
}

#alinhando-header {
	background-color: blue;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}



header>img{
	border-radius: 50%
}

header>ul>li{
	background-color: orange;
	margin: -2px;
	padding: 10px 20px;
	display: inline;
	color: white;
	border-radius: 5px

}


article {
	background-color: lightblue;
	margin: 50px 10% 0 10%;
	padding: 15px;
	border-radius: 5px;
}

footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	background-color: grey;
	padding: 50px 10px;

}